<!DOCTYPE html>
<html lang="en" ng-app="stockApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Market Predictor </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js" integrity="sha256-tp8VZ4Y9dg702r7D6ynzSavKSwB9zjariSZ4Snurvmw=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="stockController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> Stock Predictor </a>
            </div>

            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"></i> Company Listing <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Apple </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Cisco </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i>  Facebook</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Microsoft </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Intuit </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Google </a>
                        </li>
                    </ul>
                </li>
            </ul>



            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>-->
                    <!--</li>-->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>



        <div id="page-wrapper" class="skin-blur-violate">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Stock Forecast Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-angle-double-down fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><h4>{{percentGainBGS1}}</h4> </div>
                                        <div>Apple </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-angle-double-up fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><h4>{{percentLoserStockBL1}}</h4></div>
                                        <div>Intuit!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><h4>{{avgmodelaccuracyval}}</h4></div>
                                        <div>Average Model Accuracy!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">8</div>
                                        <div>No of Stocks Analyzed!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


                <!--SANTANU NEW BLOCK STARTS-->
                <div class="row">

                    <!--DONUT CHART STARTS-->
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Stock Forecast </h3>
                            </div>


                                <!--DATA FOR STOCKS-->
                            <div ng-repeat="stock in stocks" class="panel-body box-shadow--16dp" style="margin-left: 1%; margin-right: 1%; margin-top: 2%;  background-color: #faf2cc;">
                                <div class="row" >

                                    <div class="col-md-12" style="background-color: #faf2cc;">
                                        <a href="{{stock.shareUrl}}" >
                                            <div class="panel panel-default col-md-12"
                                                 style=" height: 110px;">
                                                <div class="panel-body col-md-2">
                                                    <img  ng-if="getCiscoImage()" src="img/cisco.png" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getFacebookImage()" src="img/facebook.png" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getGImage()" src="img/google.png" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getAImage()" src="img/apple.ico" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getIBMImage()" src="img/ibm.png" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getIntImage()" src="img/intuit.jpg" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getMImage()" src="img/microsoft.png" class="img-rounded" style="width: 100px; height: 100px">
                                                    <img  ng-if="getVImage()" src="img/varian.jpeg" class="img-rounded" style="width: 100px; height: 100px">
                                                    </div>
                                                <div class="panel-body col-md-3">
                                                    <h3 class="compName" style="color: #4cae4c;"> {{stock.compName}}</h3>
                                                    <h4 ng-if="getPredictionRedColor(stock.prediction)" class="prediction" style="color: red">{{stock.prediction}}</h4>
                                                    <h4 ng-if="getPredictiongGreenColor(stock.prediction)" class="prediction" style="color: green">{{stock.prediction}}</h4>

                                                </div>
                                                <div class="panel-body col-md-3" style="margin-top: 1% ">
                                                    <h5 class="predictamount"> {{stock.predictAmount}}</h5>
                                                    <h5 class="modelaccu"><strong>Model Accuracy: </strong>{{stock.accuracy}} </h5>


                                                </div>
                                                <div class="panel-body col-md-4">
                                                    <h5 class="predictamount"><strong>Last day price: </strong> {{stock.prevDayPrice}}</h5>
                                                    <h5 class="modelaccu"><strong>Change in $: </strong> {{stock.deviation}}</h5>
                                                    <h5 class="modelaccu"><strong>Forecast price: </strong> {{stock.nextDayForecasrPrice}}</h5>



                                                    </div>
                                            </div>
                                        </a>
                                    </div>




<!--
                                    <div class="row">
                                        <div class="col-lg-2" ng-if="getImage(stock.compName)">
                                            <img ng-model="imgUrl"  src={{imgUrl}} class="img-rounded" style="width: 100px; height: 100px">
                                        </div>
                                        <div class="col-lg-2" style="padding-top: 4%; font-size: large;">
                                            {{stock.compName}}
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 4%; font-size: large; color: #4cae4c">
                                            {{stock.prediction}}
                                        </div>
                                        <div class="col-lg-3" style="padding-top: 4%; font-size: medium; color: #4cae4c">
                                            Prediction Amount {{stock.predictAmount}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1" style="padding-top: 4%; font-size: medium; color: #4cae4c">
                                            Accuracy {{stock.accuracy}}
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 4%; font-size: medium; color: #4cae4c">
                                            Accuracy {{stock.prevDayPrice}}
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 4%; font-size: medium; color: #4cae4c">
                                            Accuracy {{stock.deviation}}
                                        </div>
                                        <div class="col-lg-1" style="padding-top: 4%; font-size: medium; color: #4cae4c">
                                            Accuracy {{stock.nextDayForecasrPrice}}
                                        </div>
                                    </div>-->


                                </div>
                            </div>
                            <!--prevDayPrice   deviation nextDayForecasrPrice-->

                        </div>
                    </div>

                    <div class="col-lg-4" >
                        <div class="panel panel-default" style="max-height:980px;overflow: scroll;">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Tweets </h3>
                            </div>


                            <!--DATA FOR STOCKS-->
                            <div class="panel-body box-shadow--16dp" >
                            <div id="tweet-feed" class="col-md-12">

                            </div>

                            </div>
                        </div>
                    </div>


                <!--SANTANU NEW BLOCK ENDS-->

                <!--AREA CHART STARTS-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div id="morris-area-chart"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- /.row -->



                <div class="row">

                    <!--DONUT CHART STARTS-->
                    <!--<div class="col-lg-4">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div id="morris-donut-chart"></div>-->
                                <!--<div class="text-right">-->
                                    <!--<a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->




                    <!--TASKS PANEL STARTS-->
                    <!--<div class="col-lg-4">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div class="list-group">-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">just now</span>-->
                                        <!--<i class="fa fa-fw fa-calendar"></i> Calendar updated-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">4 minutes ago</span>-->
                                        <!--<i class="fa fa-fw fa-comment"></i> Commented on a post-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">23 minutes ago</span>-->
                                        <!--<i class="fa fa-fw fa-truck"></i> Order 392 shipped-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">46 minutes ago</span>-->
                                        <!--<i class="fa fa-fw fa-money"></i> Invoice 653 has been paid-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">1 hour ago</span>-->
                                        <!--<i class="fa fa-fw fa-user"></i> A new user has been added-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">2 hours ago</span>-->
                                        <!--<i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">yesterday</span>-->
                                        <!--<i class="fa fa-fw fa-globe"></i> Saved the world-->
                                    <!--</a>-->
                                    <!--<a href="#" class="list-group-item">-->
                                        <!--<span class="badge">two days ago</span>-->
                                        <!--<i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="text-right">-->
                                    <!--<a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->



                    <!--TRANSACTIONS PANEL STARTS-->
                    <!--<div class="col-lg-4">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading">-->
                                <!--<h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div class="table-responsive">-->
                                    <!--<table class="table table-bordered table-hover table-striped">-->
                                        <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Order #</th>-->
                                                <!--<th>Order Date</th>-->
                                                <!--<th>Order Time</th>-->
                                                <!--<th>Amount (USD)</th>-->
                                            <!--</tr>-->
                                        <!--</thead>-->
                                        <!--<tbody>-->
                                            <!--<tr>-->
                                                <!--<td>3326</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>3:29 PM</td>-->
                                                <!--<td>$321.33</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3325</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>3:20 PM</td>-->
                                                <!--<td>$234.34</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3324</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>3:03 PM</td>-->
                                                <!--<td>$724.17</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3323</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>3:00 PM</td>-->
                                                <!--<td>$23.71</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3322</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>2:49 PM</td>-->
                                                <!--<td>$8345.23</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3321</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>2:23 PM</td>-->
                                                <!--<td>$245.12</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3320</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>2:15 PM</td>-->
                                                <!--<td>$5663.54</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                                <!--<td>3319</td>-->
                                                <!--<td>10/21/2013</td>-->
                                                <!--<td>2:13 PM</td>-->
                                                <!--<td>$943.45</td>-->
                                            <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <!--<div class="text-right">-->
                                    <!--<a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--TRANSACTION PANEL ENDS-->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<script>


    var tweets =[];
    var i = 0;

    var stockapp = angular.module('stockApp', []);
    stockapp.controller("stockController", function ($scope, $http,$location,$window) {



        $scope.getPredictionRedColor = function(predictionVal){
            if(predictionVal=="DOWN"){
                return true
            }
            else{
                return false;
            }

        }
        $scope.getPredictiongGreenColor = function(predictionVal){
            if(predictionVal=="UP"){
                return true
            }
            else{
                return false;
            }

        }


        $http({
            method: 'GET',
            url: 'http://localhost:8080/v1/api/biggestgainer'

        }).success(function (response) {
            $scope.percentGainBGS1 = response.percentGainBGS;


        }).error(function (error) {
        });

        $http({
            method: 'GET',
            url: 'http://localhost:8080/v1/api/biggestloser'

        }).success(function (response) {
            console.log(response.percentLoserStockBL);
            $scope.percentLoserStockBL1 = response.percentLoserStockBL;


        }).error(function (error) {
        });


        $http({
            method: 'GET',
            url: 'http://localhost:8080/v1/api/avgmodelaccuracy'

        }).success(function (response) {
           $scope.avgmodelaccuracyval  = response;


        }).error(function (error) {
        });





        $http({
            method: 'GET',
            url: 'http://localhost:8080/trend'

        }).success(function (response) {
            tweets = response;
            loop();

        }).error(function (error) {
        });


        $http({
            method: 'GET',
            url: 'http://localhost:8080/v1/api/stockdata'

        }).success(function (response) {
            $scope.stocks = response;

        }).error(function (error) {
        });


        $scope.getCiscoImage = function(companyName) {

            if (companyName == "CISCO") {
                //$scope.imgUrl = "img/cisco.png"
                return true;
            }
        }
        $scope.getFacebookImage = function(companyName) {

            if (companyName == "FACEBOOK") {
               // $scope.imgUrl = "img/facebook.png"
                return true;
            }
        }
        $scope.getGImage = function(companyName) {

            if (companyName == "GOOGLE") {
               // $scope.imgUrl = "img/google.png"
                return true;
            }
        }
        $scope.getAImage = function(companyName) {

            if (companyName == "APPLE") {
               // $scope.imgUrl = "img/apple.png"
                return true;
            }
        }
        $scope.getIBMImage = function(companyName) {

            if (companyName == "IBM") {
              //  $scope.imgUrl = "img/ibm.png"
                return true;
            }
        }
        $scope.getIntImage = function(companyName) {

            if (companyName == "INTUIT") {
                //$scope.imgUrl = "img/intuit.jpg"
                return true;
            }
        }
        $scope.getMImage = function(companyName) {

            if (companyName == "MICROSOFT") {
              //  $scope.imgUrl = "img/microsoft.png"
                return true;
            }
        }
        $scope.getVImage = function(companyName) {

            if (companyName == "VARIAN") {
               // $scope.imgUrl = "img/varian.jpeg"
                return true;
            }
        }



    });


    function loop(){
        if(tweets[i]){
            $('#tweet-feed').append('<div class="well" style="margin-bottom:3px;"><p style="margin-bottom:-5px;margin-top: -5px;" class="text-success">'+ tweets[i]+'</p> </div>');
            i++;
            setTimeout(loop,2000);
        }
    }

</script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
